# Data Science Tools and Ecosystem

## Objectives:
* List popular languages for Data Science
* List popular libraries used by Data Scientists
* List of Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools|
| --- |
| Jupyter Notebook |
| RStudio |
| Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
f"{(200 // 60)} hours and {(200 % 60)} minutes"

'3 hours and 20 minutes'

Author
## Orazow Oraz